<h1>Well, this is embarrassing...</h1>
<p>
    Something unexpected happened. Our technicians have been notified and are working on the issue,
    but here is some technical mumbo jumbo for your entertainment.
</p>

<h2>{{message}}</h2>
<h3>{{error.status}}</h3>
<pre>{{error.stack}}</pre>
