body {
  padding-bottom: 30px
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px
}

.theme-showcase > p > .btn {
  margin: 5px 0
}

.theme-showcase .navbar .container {
  width: auto
}

.dropdown-form {
  padding: 17px;
}

.navbar-default {
  background: #E6E6E6;
  border: 0px;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 28px;
}
.navbar {min-height:28px !important;}

.btn-primary {
  background: #292929;
}

.btn-primary:hover {
  background: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

.header {
  padding-top: 7px;
  padding-bottom: 7px;
}